body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    padding: 30px;
}

h2 {
    color: #2c3e50;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

button {
    background: #007bff;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

body {
    background: red !important;
}
